/.claude/
/CLAUDE.md
.ca
/logs/
/results/
/.env
/.cache/
/__pycache__/
.cache
__pycache__
/.cache/
/mask/data/
/mask/test_csv_data/
/ssyc/logs/
/sycophancy/data/
/sycophancy/test_data/
/games/logs/
/evals/logs/
/.idea/
/.old_sycophancy/
.env
