[Unit]
Description=Lie Detector Data Viewer
After=network.target

[Service]
Type=simple
User=dipika
WorkingDirectory=/mnt/nvme3/dipika/lie-detector/data_viewer
Environment=PATH=/mnt/nvme3/dipika/conda_envs/lie-detector/bin
ExecStart=/mnt/nvme3/dipika/conda_envs/lie-detector/bin/python app.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 